/* For smaller screens like tablets */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Lato:200,300,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:200,400,300,700);


#content-wrapper {
  width: 100%;
}


/*"Access your account" text */
#content-wrapper h2 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

#login-box {
  width: 50%;
}

#login-box div {
  
  width: 95%;
  padding: 5% 2%;
  
}

#content-wrapper {
  padding-bottom: 40px;
}

footer {
  height: 40px;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#link-create-account a{
  padding: 10px 0 25% 0;
}


