/* For smaller screens like mobile devices */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Lato:200,300,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:200,400,300,700);



#content-wrapper {
  width: 100%;
}


#header {
  width: 100%;
  text-align: center;
}


/*"Access your account" text */
#content-wrapper h2 {
  font-size: 20px;
}

#login-box {
  width: 96%;
}

#login-box div {
  margin-left: auto;
  margin-right: auto;
  width: 99.5%;
  padding: 8% 0.25%;
}


#login-box div form {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

input[type=text], input[type=password] {
  font-size: 20px;
  font-weight: 200;
  padding: 3% 4%;
  width: 91%;
  margin-bottom: 4%;
  border-style: solid;
  border-color: #e0e3e5;
  border-width: thin;
  
}


form {
  width: 100%;
}

input[type=submit] {
margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #f4f4f4;
  color: #7994a7;
  font-size: 13px;
  font-weight: 700;
  border-style: solid;
  border-color:#7994a7;
  border-width: thin;
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type=submit]:hover {
 background-color: #7994a7;
 color:  #fdfdfd;
 border-color:#7994a7;
 cursor: pointer;
}


footer {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 0.8em;
}

#wrapper {
  min-height: 100%;
}

#link-create-account {
  width: 100%;
  text-decoration: none;
  text-align: center;
  margin-left; auto;
  margin-right: auto;
  padding: 10px 0;
  font-size: 0.85em;
  font-weight: 400;
}

#link-create-account a, #link-create-account:visited {
  text-decoration: none;
  color:  #7994a7;
}

#link-create-account a:hover {
  text-decoration: underline;
}








